h2 {
    text-align: center;
}

form h3 {
    text-align: left;
}

.banner {
    background-color: cornflowerblue;
    color: white;
    margin-top: 75px;
    text-align: center;
    padding: 50px 0;
}

.banner h1 {
    font-family: "Roboto Mono";
    text-align: left;
    margin: 30px 50px 0px;
}

.banner h3 {
    text-align: left;
    margin: 10px 50px 0px;
}

#profile {
    height: 200px;
    width: 135px;
    border-radius: 60%;
    border: 5px solid white;
}

#title {
    color: cornflowerblue;
    font-size: 100px;
}

.bold {
    font-weight: 900;
}

.contact-link {
    margin: 45px;
    padding: 12px 50px;
    border: 1px solid #466995;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0px 4px;
  }
  
.contact-link:active {
    margin-top: 24px;
    margin-bottom: 16px;
    box-shadow: 0px 0px;
    background-color: #C0D6DF;
    color: #ffffff;
  }