h2 {
    text-align: center;
}

form h3 {
    text-align: left;
}

.nav {
    background-color: #F8AD9D;
    padding: 20px 30px;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav a{
    color: white;
    padding: 20px;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 600;
}

.chunk {
    font-family: "Poppins";
    color: white;
    padding: 10px 30px 20px;
}

#about, #resume {
    background-color: #F4978E;
}

#contact {
    background-color: #F4978E;
    padding-bottom: 50px;
}

#projects,#things-to-add  {
    background-color: #F8AD9D;
}

.banner {
    font-family: "Poppins";
    background-color: #F08080;
    color: white;
    text-align: center;
    padding: 50px 0;
}

.banner h1 {
    font-weight: 600;
    text-align: center;
    margin: 25px 50px 0px 50px;
}

.banner h3 {
    font-weight: 400;
    text-align: center;
    margin: 10px 50px 0px;
}

#profile {
    height: 200px;
    width: 135px;
    border-radius: 60%;
    border: 7px solid #FFDAB9;
    margin-top: 15px;
}

#title {
    color: cornflowerblue;
    font-size: 100px;
}

.bold {
    font-weight: 900;
}

.contact-links {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact-link {
    margin: 5px 0px;
    padding: 12px 50px;
    border: 5px solid #FBC4AB;
    border-radius: 10px;
    text-decoration: none;
    color: #F08080;
    background-color: white;
    font-weight: 600;
}

.experience-chunk {
    margin: 20px 150px;
    padding: 12px 25px;
    border: 5px solid #FBC4AB;
    border-radius: 10px;
    text-decoration: none;
    color: #F08080;
    background-color: white;
    font-weight: 600;
}

.experience-chunk h1 {
    margin: 0px;
    text-align: left;
}

.experience-chunk h3 {
    margin: 0px;
    text-align: left;
    color: #FBC4AB;
    font-style: italic;
}


.contact-link a {
    color: white;
}
  
.contact-link:active {
    margin-top: 24px;
    margin-bottom: 16px;
    border-radius: 10px;
    background-color: #F8AD9D;
    color: #ffffff;
  }