.banner {
    background-color: cornflowerblue;
    color: white;
    margin-top: 75px;
    text-align: center;
    padding: 50px 0;
}

.banner h1 {
    font-family: "Roboto Mono";
}

#small-sarah {
    height: 200px;
    width: 135px;
}

#sarah {
    color: cornflowerblue;
    font-size: 100px;
}

.bold {
    font-weight: 900;
}